.footer {
    background-color: $colorprimary ;
    padding: 2rem;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: flex;
        flex-direction: column;
        a {
            margin-bottom: 16px;
        }
    }
    a {
        text-decoration: none;
        color: $fontcolor;
    }
    i {
        font-size: 30px;
        margin-right: 1.5rem;
    }
    & h3::after {
        @include underscore;
        background-color: $ecocolor;
    }
    img {
        height: 150px;
        width: 150px;
        margin-top: 1.5rem;
        border-radius: 1rem;
        border-right: 1.5px solid black;
        border-left: 1.5px solid black;
    }
    &__arrow, &__arrow i {
        display: flex;
        align-items: center;
        i {
            background-color: $ecocolor;
            border: 1px solid $ecocolor;
            padding: 1rem;
            border-radius: 50%;
            box-shadow: $boxshadow;
            color: $colorprimary;
        }
    }

}

