$bgheader: #C0E3D1;
$whitegrey: #d1d1d1;
$fontcolor: #1d1d20;
$shadowbgcolor: #f6f6f6;
$shadowbgcolor1:#f7f7f7;
$shadowbgcolor2:#EAEAEA;
$white:#FFFAFA;

$colorprimary: #AEDBC4;
$colorsecondary:lighten($bgheader, 10%);
$ecocolor:#4BAB77;

$boxshadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 35%);

$font1: 'Roboto', sans-serif;
$font2: 'Old Standard TT', serif;